body {
  background-color: #fafafa;
  font-family: 'Roboto';
}

/* login page */
.login-container {
  margin: auto;
  padding: 70px 15px;
}

.hero-image {
  max-width: 100%;
  height: auto;
  width: 576px;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  border-radius: 50%;
}

.logo {
  margin: 20px auto;
}

.moto {
  font-size: 40px;
  font-weight: 400;
  color: #3e3e3e;
  margin-bottom: 32px;
}

.red {
  color: #c8242f;
}

.grey-text {
  font-size: 15px;
  color: #adadad;
}

.message {
  font-size: 25px;
  font-weight: 400;
  color: #3e3e3e;
}

.form-container {
  /* width: 429px; */
  overflow: hidden;
  margin: 24px 0;
}

.input-field {
  /* margin-bottom: 27px; */
  padding: 12px 15px;
  width: 100%;
  border: 1px solid #adadad;
  border-radius: 5px;
}

.btn-login {
  float: left;
  padding: 10px 46px;
  font-size: 18px;
  border-radius: 23px;
}

.btn-forgot {
  float: right;
  padding: 10px 0;
}

/* -----------------Header------------------ */

.header {
  /* padding: 0; */
  /* position: sticky;
  top: 0px; */
  padding: 0 30px;
  background-color: #ffffff;
  width: 100%;
  /* height: 80px; */
  z-index: 1000;
}

.left-header {
  float: left;
}

.right-header {
  float: right;
}

.menu-bar {
  width: 18px;
  height: 18px;
  /* margin-left: 30px; */
  /* height: 80px; */
}

.logo-header {
  margin: 25px;
  width: 142px;
  height: 30px;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-left: 50px;
}

.header-text {
  font-size: 16px;
  margin: auto 12px;
}

.notification-icon {
  width: 25px;
  height: 25px;
  margin: auto;
}

.profile-photo {
  width: 44px;
  height: 44px;
  margin: 18px;
}

.select-downward {
  width: 20px;
  height: 20px;
  /* margin-right: 30px; */
}

/* Sidebar */
.side-container {
  padding: 0;
  /* margin: 0; */
}

.side-bar {
  /* float: left; */
  background-color: #ffffff;
  /* width: 242px; */
  height: 100%;
  padding: 25px 30px;
}

.side-list {
  padding: 10px 0px 12px 20px;
  margin-bottom: 8px;
  font: 16px;
}

.side-list a {
  color: #3e3e3e;
}

.active a {
  color: #c8242f;
}

.active {
  border-radius: 5px;
  background-color: #fff3f4;
}

.list-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* dashboard */

.main-container {
  margin: 0;
  padding: 40px 35px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

.box {
  overflow: hidden;
  padding: 0 30px;
  margin: 15px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

.box-3 {
  overflow: hidden;
  padding: 0 30px;
  margin: 15px;
  background-color: #ffffff;
  border-radius: 5px;
}

.stats-img {
  width: 36px;
  height: 36px;
  margin: 10px 10px 10px 0;
  float: left;
}

.box-1 {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 15px auto;
  padding: 20px 30px;
}

.stats-details {
  float: left;
  width: max-content;
  font-size: 15px;
  font-weight: 500;
  color: #3e3e3e;
}

.stats-number {
  font-size: 25px;
  font-weight: 500;
}

.sub-title {
  float: left;
  margin: 22px auto;
  font-size: 22px;
  color: #3e3e3e;
}

.sales-nav {
  float: right;
  margin: 18px auto;
}

.sn {
  font-size: 12px;
  color: #adadad;
  margin-left: 18px;
}

.sn-active {
  color: #c8242f;
  padding-bottom: 8px;
  border-bottom: 1px solid #c8242f;
}

.data-graph {
  max-width: 100%;
  margin-bottom: 30px;
}

.sales-chart {
  clear: left;
  margin: auto 20px;
  text-align: center;
}

.pie-details {
  text-align: left;
  margin: auto;
  line-height: 2;
  /* max-width: 100%; */
  padding-bottom: 20px;
  font-size: 15px;
  color: #3e3e3e;
}

.pie-chart {
  max-width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.dot-red {
  background-color: #c8242f;
}

.dot-green {
  background-color: #a2b86c;
}

.dot-orange {
  background-color: #f16c20;
}

.dot-yellow {
  background-color: #ebc844;
}

.center {
  margin: auto;
  text-align: center;
  clear: both;
}

.paid {
  padding: 2px 10px;
  color: #3CDD5F;
  background-color: #EBFFEF;
  border-radius: 5px;
}

.failed {
  padding: 2px 10px;
  color: #FF4545;
  background-color: #FFF5F5;
  border-radius: 5px;
}

.pending {
  padding: 2px 10px;
  color: #BABABA;
  background-color: #F8F8F8;
  border-radius: 5px;

}

/*--------------------------innerpage--------------------------- */

.subtitle-2 {
  /* margin-top: 15px; */
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #3e3e3e;
}

.upload-btn {
  margin-right: 20px;
  padding: 5px 24px;
  border-radius: 18px;
}

.btn-innerpage {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 23px;
  margin-right: 20px;
}

.tab {
  padding: 0 16px 14px;
  font-size: 15px;
  color: #adadad;
}

.tab-active {
  color: #c8242f;
  border-bottom: 3px solid #c8242f;
}

hr {
  margin: 13px auto 25px;
}

.tab-content {
  color: #3e3e3e;
}

.alert {
  opacity: 1;
  background-color: #ffffff;
}

.snackbar-img {
  height: 20px;
  width: 20px;
  margin: auto 5px auto -10px;
}

.form-control {
  height: 50px;
}


@media only screen and (max-width: 992px) {
  .moto {
    font-size: 36px;
  }

  .main-container {
    padding: 25px 10px;
  }

}

@media only screen and (max-width: 768px) {

  .header-text {
    display: none;
  }

  .search-icon {
    margin-left: 20px;
  }

  .moto {
    font-size: 32px;
  }

  .message {
    font-size: 22px;
  }
}

@media only screen and (max-width: 460px) {

  .header {
    padding: 10px;
  }

  .search-icon {
    display: none;
  }

  .notification-icon {
    display: none;
  }

  .logo-header {
    margin-right: 0;
  }

  .logo {
    width: 200px;
  }

  .login-container {
    padding: 15px;
  }

  .moto {
    font-size: 28px;
  }

  .message {
    font-size: 20px;
  }

  .input-field {
    height: 40px;
  }

  .btn-login {
    font-size: 15px;
    /* padding: 10px 15px; */
  }


  /* -------form----------*/
  .form-control {
    height: 35px;
    font-size: 15px;
  }

  .btn-innerpage {
    margin: 10px auto;
    font-size: 15px;
  }

  .snackbar-img {
    height: 15px;
    width: 15px;
  }

  .alert {
    font-size: 15px;
  }

  .title {
    font-size: 25px;
  }

  .sub-title {
    font-size: 20px;
  }

  .subtitle-2 {
    font-size: 18px;
  }

  .box {
    padding: 10px 20px;
  }

  p {
    font-size: 12px
  }
}