body {
  /* position: relative; */
  background-color: #fafafa;
  font-family: 'Roboto';
  /* width: 1560px; */
}

/* login page */
.login-container {
  margin: auto;
  padding: 70px 15px;
}

.hero-image {
  max-width: 100%;
  height: auto;
  width: 576px;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  border-radius: 50%;
}



.logo {
  margin: 20px auto;
}

.moto {
  font-size: 40px;
  font-weight: 400;
  color: #3e3e3e;
  margin-bottom: 32px;
}

.red {
  color: #c8242f;
}

.grey-text {
  font-size: 15px;
  color: #adadad;
}

.message {
  font-size: 25px;
  font-weight: 400;
  color: #3e3e3e;
}

.form-container {
  /* width: 429px; */
  margin: 24px 0;
}

.input-field {
  /* margin-bottom: 27px; */
  padding: 12px 15px;
  width: 100%;
  border: 1px solid #adadad;
  border-radius: 5px;
}

/* a {
  text-decoration: none;
}

a.grey-text {
  margin-left: 160px;
} */

.btn-login {
  padding: 10px 46px;
  font-size: 18px;
  border-radius: 23px;
}

/* Header */

.header {
  position: relative;
  background-color: #ffffff;
  width: 1560px;
  height: 80px;
}

.left-header {
  position: absolute;
  left: 0px;
}

.right-header {
  position: absolute;
  right: 0px;
}

.menu-bar {
  width: 18px;
  height: 18px;
  margin-left: 30px;
}

.logo-header {
  margin: 25px;
  width: 142px;
  height: 30px;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 50px;
}

.header-text {
  font-size: 16px;
}

.notification-icon {
  width: 25px;
  height: 25px;
  margin-right: 40px;
}

.profile-photo {
  width: 44px;
  height: 44px;
  margin: 18px 12px;
}

.select-downward {
  width: 20px;
  height: 20px;
  margin-right: 42px;
}

/* Sidebar */

.side-bar {
  float: left;
  background-color: #ffffff;
  width: 242px;
  height: 1500px;
  padding: 25px 30px;
}

.side-list {
  padding: 10px 0px 12px 20px;
  margin-bottom: 8px;
  font: 16px;
}

.side-list a {
  color: #3e3e3e;
}

.active a {
  color: #c8242f;
}

.active {
  border-radius: 5px;
  background-color: #fff3f4;
}

.list-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* dashboard */

.main-container {
  float: left;
  padding: 40px 50px 28px;
  width: 1318px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* .row {
  margin: auto -15px;
} */

.box {
  padding: 0 30px;
  margin: 15px;
  background-color: #ffffff;
  border-radius: 5px;
}

.stats-img {
  float: left;
  margin: 38px auto;
  width: 40px;
  height: 40px;
}

.stats-details {
  float: left;
  margin: 30px auto 30px 12px;
  font-size: 15px;
  color: #3e3e3e;
}

.stats-number {
  font-size: 25px;
  font-weight: 500;
}

.sub-title {
  float: left;
  margin: 22px auto;
  font-size: 22px;
  font-weight: 500;
  color: #3e3e3e;
}

.sales-nav {
  float: right;
  margin: 18px auto;
}

.sn {
  font-size: 12px;
  color: #adadad;
  margin-left: 18px;
}

.sn-active {
  color: #c8242f;
  padding-bottom: 8px;
  border-bottom: 1px solid #c8242f;
}

.data-graph {
  margin-bottom: 30px;
}

.pie-details {
  padding-bottom: 20px;
  font-size: 15px;
  color: #3e3e3e;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: auto 10px;
  display: inline-block;
}

.dot-red {
  background-color: #c8242f;
}

.dot-green {
  background-color: #a2b86c;
}

.dot-orange {
  background-color: #f16c20;
}

.dot-yellow {
  background-color: #ebc844;
}

.center {
  margin: auto;
  text-align: center;
}

/* table */
/* thead {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
}

tbody {
  font: normal normal normal 15px/20px Roboto;
  color: #3e3e3e;
} */

/* .invoice-table > tbody > tr > td,
.invoice-table > tbody > tr > th,
.invoice-table > tfoot > tr > td,
.invoice-table > tfoot > tr > th,
.invoice-table > thead > tr > td,
.invoice-table > thead > tr > th {
  padding: 13px;
} */

/* innerpage */


.subtitle-2 {
  /* margin-top: 15px;
  margin-bottom: 15px; */
  font-size: 18px;
  font-weight: 500;
  color: #3e3e3e;
}

.upload-btn {
  margin-right: 20px;
  padding: 5px 24px;
  border-radius: 18px;
}

.btn-innerpage {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 23px;
  margin-right: 20px;
}

.tab {
  padding: 0 18px 14px;
  font-size: 15px;
  color: #adadad;
}

.tab-active {
  color: #c8242f;
  border-bottom: 3px solid #c8242f;
}

hr {
  margin: 13px auto 25px;
}

.tab-content {
  /* font-size: 15px; */
  color: #3e3e3e;
}

.alert {
  opacity: 1;
  background-color: #ffffff;
}

.snackbar-img {
  height: 20px;
  width: 20px;
  margin: auto 5px auto -10px;
}

.form-control {
  height: 50px;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .moto {
    font-size: 36px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .moto {
    font-size: 32px;
  }

  .message {
    font-size: 22px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 460px) {
  .logo{
    width: 200px;
  }
  .login-container{
    padding: 15px;
  }
  .moto {
    font-size: 28px;
  }

  .message {
    font-size: 20px;
  }
}