body {
  position: relative;
  background-color: #FAFAFA;
  width: 1560px;
  height: 720px;
}

.left-container {
  float: left;
  margin: 72px 165px;
}

.hero-image {
  width: 576px;
  height: 576px;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  border-radius: 50%;
}

.right-container {
  float: left;
  margin: 105px 0;
}

.logo {
  width: 272px;
  height: 58px;
  margin-bottom: 20px;
}

.moto {
  width: 500px;
  height: 100px;
  font: normal normal 400 40px/47px Roboto;
  color: #3e3e3e;
  margin-bottom: 32px;
}

.red {
  color: #c8242f;
}

.grey-text {
  font: normal normal normal 15px/20px Roboto;
  color: #adadad;
}

.message {
  font: normal normal normal 25px/33px Roboto;
  color: #3e3e3e;
}

.form-container {
  width: 429px;
  margin: 24px 0;
}

.input-field {
  margin-bottom: 27px;
  padding-left: 15px;
  width: 100%;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

a.grey-text {
  margin-left: 170px;
}

.btn-danger {
  width: 138px;
  height: 45px;
  font-size: 18px;
  border-radius: 23px;
}


/* Header */

.header {
  position: relative;
  background-color: #ffffff;
  width: 1560px;
  height: 80px;
}

.left-header {
  position: absolute;
  left: 0px;
}

.right-header {
  position: absolute;
  right: 0px;
}

.menu-bar {
  width: 18px;
  height: 18px;
  margin-left: 30px;
}

.logo-header {
  margin: 25px;
  width: 142px;
  height: 30px;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 50px;
}

.header-text {
  font: normal normal 400 16px/21px Roboto;
}

.notification-icon {
  width: 25px;
  height: 25px;
  margin-right: 40px;
}

.profile-photo {
  width: 44px;
  height: 44px;
  margin: 18px 12px;
}

.select-downward {
  width: 20px;
  height: 20px;
  margin-right: 42px;
}

/* Sidebar */

.side-bar {
  background-color: #ffffff;
  width: 242px;
  height: 1279px;
  padding: 25px 30px
}

.side-list {
  padding: 10px 0px 12px 20px;
  margin-bottom: 8px;
  font: normal normal normal 16px/21px Roboto;
}

.side-list a {
  color: #3e3e3e;
}

.active a {
  color: #C8242F;
}

.active {
  border-radius: 5px;
  background-color: #FFF3F4;
}

.list-img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}